@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
  --main-color: #85c443;
  --background-color: #000000;
  --second-background-color: #191919;
  --text-color: white;
  --sub-title-color: #5b5c5b;
  --sub-title-fontsize: 0.6rem;
  --width: 70%;
}

/*
***** globle css ****
*/

ul {
  padding-left: 0;
  list-style-type: none;
}

.icon {
  width: 12px;
  margin: 0 5px;
}

.geoicon
{
  width: 17px;
}

.down-Section span:nth-child(3) ,.down-Section span:nth-child(1)
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.down-Section span:nth-child(3):hover
{
  cursor: pointer;
}


hr {
  height: 70%;
  background-color: var(--sub-title-color);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: var(--second-background-color); */
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../src/assets/background.jpg");
  font-family: "Montserrat";
}

/*
***** NavBar Css ******
*/

.nav-container {
  width: 100%;
  height: 80px;
  background-color: var(--background-color);
}

.navbar {
  height: 100%;
  width: var(--width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #85C443; */
  color: var(--text-color);
  padding: 0 10px;
  transition: all 2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.stop {
  overflow-y: hidden;
  height: 100vh;
}

.logo img {
  width: 150px;
  aspect-ratio: 2;
}

/*
**** Body ****
*/

.body {
  width: var(--width);
  color: var(--text-color);
  margin: 0 auto;
  padding: 4% 0;
}

/*
**** Progress bar ****
*/
.title {
  font-size: 1.4rem;
  font-style: italic;
  font-weight:bolder;
  color: var(--main-color);
}

.title span {
  text-decoration: underline;
}

.sub-title {
  color: white;
  font-size: var(--sub-title-fontsize);
  font-weight: 600;
}

/* .progress-container
{
   height: 30px; 
} */

.steps {
  width: 100%;
  height: 30px;
  display: block;
}

.steps ul {
  /* font-size: .77rem;
  padding: 10px 0px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.steps ul li {
  /* font-size: .77rem;
  padding: 10px 0px; */
  align-items: center;
  font-size: 0.7rem;
  font-weight: 700;
}

.active {
  color: var(--main-color);
}

/*
******* Your Club **********
*/

.form-staps {
  width: var(--width);
  margin: 0 auto;
}

.search-container {
  height: 80px;
}

.search-container
{
  margin: 10px 0px;
}

.up-Section {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  height: 50%;
  background-color: var(--main-color);
}

/* .up-Section span
{
  text-align: center;
}

.up-Section span:nth-child(1)
{
  width: 40%;
}


.up-Section span:nth-child(2) input
{
  width: 90%;
} */

.down-Section {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 50%;
  background-color: var(--sub-title-color);
}

.search_btn {
  background-color: transparent;
  border: none;
  color: var(--background-color);
  font-size: 1rem;
  font-weight: 600;
}

#search {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;

}

#search:focus-visible {
  outline: none;
  /* border-bottom: 1px solid red;
  margin-bottom: -1px; */
}



.up-Section span:nth-child(2) {
  width: 90%;
}

/*
**** club card style ****
*/

.clubs-list {
  width: 100%;
  height: 500px;
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}


.clubs-list::-webkit-scrollbar {
 display: none;
}


/* .clubs-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}


.clubs-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}


.clubs-list::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 50px;
}  */

.club-card {
  width: 95%;
  margin: 0 auto;
  height: 100%;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 6fr 1fr;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 8px 0px;
  border-radius: 5px;
  box-shadow: 0px 0px var(--main-color);
}

.club-card:hover {
  box-shadow: -5px 5px var(--main-color);
  margin-left: 8px;
}

.club-card:hover .social-links {
  color: white;
}

.club-card .info-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.club-card .info-section .img-club {
  width: 100%;
  height: 100%;
}

.info-club {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.info {
  display: block;
  padding-top: 8px;
}

.social-links {
  color: var(--main-color);
}

.img-club img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.adress,
.phone {
  font-size: 0.9rem;
  font-family: "Montserrat";
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clubs-container .title {
  margin: 10px 0px;
}
.clubs-container .sub-title {
  margin: 10px 0px;
}

.actions button
{
  background-color: transparent;
  border: none;
  font-size: .8rem;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.actions button::before
{
  content: '';
  background-color: #85c443;
  width: 50px;
  height: 1px;
}




